

<link rel="stylesheet" href="bootstrap.min.css">


<div id="app">
    <p>{{ message }}</p>
</div>


<div id="app2">

    <p v-if="seen"> hello</p>
</div>

<div id="student" class="container">

    <ol>
        <li v-for="student in students">

            <p> ID: {{student.id}}</p>
            <p> Firstname: {{student.firstname}}</p>
            <p>LastName: {{student.lastname}}</p>
            <p>LastName: {{student.standard}}</p>

        </li>


    </ol>



</div>


<!--library-->

<script src="vue.js"></script>
<script src="jquery.js"></script>
<script src="bootstrap.min.js"></script>
<script src="vue-resource.min.js"></script>




<script src="app.js"></script>